<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <link th:include="base/base::header ('菜单管理')" />
    <link rel="stylesheet" th:href="@{/css/sys/base/base.css}"/>
</head>
<body>
<div class="container-fluid">
    <div style="width: 30%;float: left;">&nbsp;</div>
    <div id="app" style="width: 30%;float: left;">
        <i-form ref="user" :model="user" :label-width="80" :rules="user_rules">
            <form-item label="原密码" prop="password">
                <i-input type="password" v-model="user.password" placeholder="原密码" ></i-input>
            </form-item>
            <form-item label="新密码" prop="newword">
                <i-input type="password" v-model="user.newpassword" placeholder="新密码" ></i-input>
            </form-item>
            <form-item label="确认密码" prop="renewword">
                <i-input type="password" v-model="user.renewword" placeholder="确认密码" ></i-input>
            </form-item>
            <form-item>
                <i-button type="primary" @click="submit">提交</i-button>
            </form-item>
        </i-form>
    </div>
</div>
<script th:src="@{/js/sys/user/password.js}"></script>
</body>
</html>